body {
    min-width: 1440px;
    overflow-x: hidden;
}

.leaflet-marker-icon,
.leaflet-marker-shadow {
    margin-left: -12px;
    margin-top: -41px;
}

@media (max-width: 768px) {
    .popUp-wrapper .loading {
        border: 0 !important;
    }
}